#recycle {
    width: 200px;
    height: 50px;
    border: 1px dashed;
    text-align: center;
    line-height: 50px;

}

/*设置图片相框效果样式*/
.photoframe {
    background: url(./photoframe.jpg) no-repeat;
    width: 350px;
    height: 350px;
    text-align: center;
    float: left;

}

/*设置图片在垂直方向上居中显示*/

img {
    
    vertical-align: middle;
    
}

/*设置图片2的样式*/
.block {
    width: 0px;
    height: 100%;

}

/*设置带有相框的图片展示区域样式*/

#output {
    float: left;
    margin: 10px;
    text-align: center;
    width: 500px;

}